@{
    ViewBag.Title = "About";
}
<h2>@ViewBag.Title.</h2>


<p>Carnival Corp is the premier cruise provider in the whole world. We've been providing quality experiences since forever. 
    You should definitely try us out. We're highly professional, as you can tell. We're also highly costly. That makes it
    highly prestigious. Just like you *wink wink dollar dollar sign* </p>

<p>While cruising with us, we highly recommend you do not disturb local wildlife... I'm not sure why I put this in the about
    page either. I ran out of ideas to fill in space. My apologies. I would just copy-paste the Wikipedia description for
    Carnival Corp, but that feels a bit unethical</p>

<p>Wow! Look at that! We made it to a third paragraph. At this rate we'll have 3 more paragraphs than we started with! Just
    like you'll be 3 times happier (and your wallet will be 3 times lighter) after enjoying a delightful 3 day, 3 night, 3
    week, 33 year cruise with Carnival Corp. :)</p>