@{
    ViewBag.Title = "Home Page";
}




<div class="jumbotron">
    <h1>Carnival Corporation</h1>
    <p class="lead">Carnival Corporation is the premier, first class, top-knotch provider in the cruise line industry, second-to-none.
    We beat all our competitors in terms of price, comfort, safety and price (well, maybe not price). Did we mention we're better than the
    rest? Yes, at everything. We're even the humblest!
    </p>
</div>


<div class="row">
    <hr />
    <div class="col-md-4">
        <h2>Why Us?</h2>
        <p>
            Carnival Corporation has been established since the year 1213. Our clientele include the venerable Pharoah SysRAM the 2nd and Linus. Also Bill Gates.
            Did we mention we're the official cruise line for the nation of Botzimbinasia? It's true! (It's not. No such country exists. Why would a country need
            an official cruise line anyway?).
        </p>
        <p><a class="btn btn-default right" href="/About">Learn more &raquo;</a></p>
        <br/><br />
    </div>
    <hr />
    <div class="col-md-4">
        <h2>What We Offer</h2>
        <p>We offer cruise packages to locations all over the world. Some even out of the world (well, not yet. But someday. Maybe. We think.)
        In any case, we offer cruise packages to all 8 continents! Wait, did we say 8? Err, we meant 5. 5 continents. I think. Is Australia a continent?
        I think it is. 6 continents!
        </p>
        <p><a class="btn btn-default right" href="/CruiseCatalogue">Browse Catalogue &raquo;</a></p>
        <br /><br />
    </div>
    <hr />
    <div class="col-md-4">
        <h2>Register Today!</h2>
        <p>No, really, you'll need to register if you want to make a booking anyway. Why not now? :D </p>
        <p><a class="btn btn-default right" href="/Account/Register">Register &raquo;</a></p>
        <br /><br />
    </div>
    <hr />
</div>